<div class="container">
	<form>
		<div id="h1">Take Appointment</div>
		<hr>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name:</label>
      <span>{{PatientName}}</span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Patient Id:</label>
      <span> {{PatientUsername}}</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Contact no:</label>
      <span>{{PatientContact}}</span>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email Id:</label>
      <span> {{PatientEmail}}</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputDep">Department</label>
      <select id="inputDep" class="form-control"
      ng-model="inputDep">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputName">Doctor Name</label>
      <select id="inputName" class="form-control"
      ng-madel="inputName">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip">Doctor Id</label>
      <input type="text" class="form-control" id="inputZip"
      ng-model="inputDid">
    </div>
  </div>
  <div class="form-group">
    <label for="inputProblem">Problem</label>
    <textarea class="form-control" id="inputProblem" rows="5" placeholder="Describe your problem here"
    ng-model="inputProblem"></textarea>
  </div>
  <div class="form-row">
  	<div class="form-group col-md-6">
  		<label>Visiting Fee:</label>
  		<span>{}</span>
  	</div>
  	<div class="form-group col-md-6">
  		<label>Payment Status:</label>
  		<div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inputPaid" value="paid"
        ng-model="inputPaymentpaid">
  			<label class="form-check-label" for="inputPaid">Paid</label>
		</div>
		<div class="form-check form-check-inline">
  			<input class="form-check-input" type="checkbox" id="inputUnpaid" value="unpaid"
        ng-model="inputPaymentunpaid">
  			<label class="form-check-label" for="inputUnpaid">Unpaid</label>
		</div>
  	</div>
  </div>
  <center><button type="submit" class="btn btn-primary btn-lg d-flex justify-content-center" ng-click="appointment()">Confirm Appointment</button></center>
</form>
</div>
<link rel="stylesheet" type="text/css" href="templates/appointment.css">