<div class="namePlate">
	<p style="float: left;">Hello { }</p>
	<p class="logoHsptl"><i class="fas fa-hospital-alt fa-5x"></i></p>
	<p style="font-size: 0.8em; clear: left;">welcome to DeFSyS Hospital </p>
	<p style="clear: right;"></p>
</div>

<div class="row">
	<div class="col-6 col-sm-3 col-md-3 col-lg-3">
		<div class="homeTab" ui-sref="appointment">
			<i class="far fa-hospital fa-2x"></i>
			<div id="h1">Appointment</div>
		</div>
	</div>
	<div class="col-6 col-sm-3 col-md-3 col-lg-3" ui-sref="medicalHistory">
		<div class="homeTab">
			<i class="fas fa-file-medical fa-2x"></i>
			<div id="h1">Medical History</div>
		</div>
	</div>
	<div class="col-6 col-sm-3 col-md-3 col-lg-3">
		<div class="homeTab" ui-sref="doctorsList">
			<i class="fas fa-user-md fa-2x"></i>
			<div id="h1">Doctors List</div>
		</div>
	</div>
	<div class="col-6 col-sm-3 col-md-3 col-lg-3">
		<div class="homeTab" ui-sref="profile">
			<i class="fas fa-user fa-2x"></i>
			<div id="h1">Profile</div>
		</div>
	</div>
</div>
<div class="afterTab">
	<div id="h1">Medical History</div>
</div>
				
<link rel="stylesheet" type="text/css" href="templates/home.css">
