<div class="container ">
		<img src="#">
	<!-- <div class="container"> -->
		<table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td id="r1">{}</td>
        </tr>
        <tr>
          <th scope="row">Patient Id</th>
          <td id="r2">{}</td>
        </tr>
        <tr>
          <th scope="row">Contact Number</th>
          <td id="r3">{}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td id="r4">{}</td>
        </tr>
        <tr>
          <th scope="row">DOB</th>
          <td id="r5">{}</td>
        </tr>
        <tr>
          <th scope="row">Weight</th>
          <td id="r6">{}</td>
        </tr>
        <tr>
          <th scope="row">Height</th>
          <td id="r7">{}</td>
        </tr>
        <tr>
          <th scope="row">Blood Group</th>
          <td id="r8">{}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td id="r9">{}</td>
        </tr>
      </tbody>
    </table>
    <div style="clear: both;"></div>
	<!-- </div> -->

		

	
</div>

<link rel="stylesheet" type="text/css" href="templates/profile.css">
<script type="text/javascript" src="templates/profile.js"></script>