<div class="container ">
  <div style="font-weight: 800; font-size: 2em">User Details</div>
		<img src="#">
	<!-- <div class="container"> -->
		<table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td id="r1">{{PatientName}}</td>
        </tr>
        <tr>
          <th scope="row">Patient Id</th>
          <td id="r2">{{PatientUsername}}</td>
        </tr>
        <tr>
          <th scope="row">Contact Number</th>
          <td id="r3">{{PatientContact}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td id="r4">{{PatientEmail}}</td>
        </tr>
        <tr>
          <th scope="row">DOB</th>
          <td id="r5">{{PatientDob}}</td>
        </tr>
        <tr>
          <th scope="row">Weight</th>
          <td id="r6">{{PatientWeight}}</td>
        </tr>
        <tr>
          <th scope="row">Height</th>
          <td id="r7">{{PatientHeight}}</td>
        </tr>
        <tr>
          <th scope="row">Blood Group</th>
          <td id="r8">{{PatientBlood}}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td id="r9">{{PatientAddress}}</td>
        </tr>
      </tbody>
    </table>
    <div style="clear: both;"></div>
	<!-- </div> -->

		

	
</div>

<link rel="stylesheet" type="text/css" href="templates/profile.css">
