<div class="container">
	<div id="h1">Doctor List</div>
	<!-- <a href="#"><i class="fas fa-plus-square fa-2x"></i></a><span style="font-size:1.5em; font-weight: 540; padding-left: 10px;">Add Doctor</span> -->
	<div class="form-row">
		<div class="col-sm-6 col-md-6">
			<div class="input-group mt-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="inputGroup-sizing-sm">Search By</span>
			  </div>
			  <select type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" ng-model="searchBy">
			  	<option></option>
			  	<option value="">Doctor Id</option>
			  	<option value="">Doctor Name</option>
			  	<option value="">Department</option>
			  </select>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="input-group mt-3">
			  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" ng-model="Search">
			  <div class="input-group-append">
			    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
			  </div>
			</div>
		</div>
	</div>


	<table class="table table-borderless PatientTable text-center">
		  <thead>
		    <tr>
		      <th scope="col">Doctor Id</th>
		      <th scope="col">Name</th>
		      <th scope="col">Department</th>
		      <th scope="col">Status</th>
		      <th scope="col">Edit</th>
		    </tr>
		  </thead>
		  <tbody >
		    <tr ng-repeat="x in dList | orderBy: searchBy | filter: Search">
		      <th scope="row">{{x.id}}</th>
		      <td>{{x.name}}</td>
		      <td>{{x.department}}</td>
		      <td>{{x.status}}</td>
		      <td><a href="#" ui-sref="doctorInfo"><i class="fas fa-edit"></i></a></td>
		    </tr>
		</tbody>
	</table>


</div>

<style>
	.container {
	margin-left: 0px;
	margin-right: 0px;
}

.container #h1 {
	font-size: 2em;
	font-weight: 600;
}

.PatientTable {
	background-color: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	height: auto;
	width: 100%;
	border-radius: 25px;
	font-size: 22px;
	margin-top: 15px;
	/*padding: 5px ;*/
}
</style>