<div class="container">
	<div class="namePlate">
		<p style="float: left;">Hello { }</p>
		<p class="logoHsptl"><i class="fas fa-hospital-alt fa-5x"></i></p>
		<p style="font-size: 0.8em; clear: left;">welcome to Hospital </p>
		<p style="clear: right;"></p>
	</div>

	<!-- <div class="row"> -->
		<div class="row tileContainer">
			<div class="tile"><center><i class="fas fa-user-md fa-5x"></i></center><center id="h1">Doctor</center></div>
			<div class="tile"><center><i class="fas fa-users fa-5x"></i></center><center id="h1">Patient</center></div>
		</div>
	<!-- </div> -->


</div>


<style>
.namePlate {
	width: 100%;
	background-color: #fdedc9;
	height: auto;
	border-radius: 20px;
	padding: 20px 25px;
	font-weight: 700;
	font-size: 2em;
	color: #cc915a;
	/*margin: 20px;*/
}
.logoHsptl {
	float: right;
	/*transform: scale(5);*/
}

.tileContainer {
	margin-top: 20px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/*height: 400px;*/
}
.tile {
	width: 35%;
	height: 200px;
	box-shadow:0 10px 10px rgba(0, 0, 0, 0.7);
	background-color: #ffffff;
	border-radius: 25px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 2rem 3rem 2rem;
	color: rgba(0, 0, 0, 0.5);
}
#h1{
	font-size: 2em;
	font-weight: 600;
}
.tile:hover {
	background-color: #8d21fd;
  	background-image: linear-gradient(0deg, #8d21fd 0%, #6f21ff 100%);
    color: #ffffff;

}

</style>